* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
}
header {
  height: 80px;
  width: 100%;
  /* background-color: #457cf6; */
}
nav {
  height: inherit;
}
.brand {
  display: inline-block;
}
.brand li {
  height: 80px;
  width: 80px;
}
.brand a {
  display: inline-block;
  height: 80px;
  width: 80px;
}
.links {
  float: right;
}
.links li {
  display: inline-block;
}
.links a {
  display: inline-block;
  padding: 30px 15px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  transition: 0.3s ease-in-out color;
}
.links a:hover {
  color: #457cf6;
}
.jumbotron {
  height: 1000px;
  width: 100%;
  background-image: url("../media/jumbotron.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
}
.layover {
  height: inherit;
  width: inherit;
  background-color: rgba(0, 0, 0, 0.5);
}
